.todolist-id,.todolist-text{
    min-width: 302px;
    height: 90px;
    padding: 12px 30px 12px 8px;
    word-break:break-all;
}
.table-button-delete {
    border: none;
    outline: none;
    background-color: transparent;
    height: 40px;
    width: 40px;
    background-image: url("../../images/delete.png");
    background-repeat: no-repeat;
    background-size: 15px;
    background-position: center;
    vertical-align: middle;
    cursor: pointer;
}

.table-button-edit{
    border: none;
    outline: none;
    background-color: transparent;
    height: 40px;
    width: 40px;
    background-repeat: no-repeat;
    background-size: 15px;
    background-position: center;
    vertical-align: middle;
    cursor: pointer;
}

.add-new{
    height:50px;
    margin-left: 40px;
}
.add-new>button {
    margin-bottom: 35px !important;
    margin-left: 10px !important;
    border: none;
    outline: none;
    background-color: rgb(147, 208, 228);
    height: 40px;
    width: 80px;
    background-repeat: no-repeat;
    background-size: 15px;
    background-position: center;
    vertical-align: middle;
    cursor: pointer;
}

.add-new>textarea {
    margin-left: 10px;
    width: 30%;
    border: 1px solid #666666;
    padding:8px 12px;
    resize:none;
    overflow-x:hidden;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

.edit-textarea{
    margin-left: 10px;
    width: 100%;
    height:30px;
    border: 1px solid #666666;
    padding:8px 12px;
    resize:none;
    overflow-x:hidden;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

.edit-buttons{
    padding-right:100px;
}

.edit-buttons>button{
    margin-right: 30px;
    border: none;
    outline: none;
    background-color: rgb(147, 208, 228);
    height: 40px;
    width: 80px;
    background-repeat: no-repeat;
    background-size: 15px;
    background-position: center;
    vertical-align: middle;
    cursor: pointer;
}