.common-table{
    border-collapse:collapse;
    margin:20px,40px,0px,40px;
    padding:0;
    border:0;
}

.common-table>thead>tr>th{
    font: 18px Segoe UI,Semilight;
    color: #333333;
    text-align: left;
    padding:12px 8px;
}

.common-table>tbody>tr>td {
    font: 13px Segoe UI,Regular;
    color:#000000;
    border-top: 1px solid rgb(175, 175, 175);
}