.common-table{
    border-collapse:collapse;
    margin:auto;
    padding:0;
    border:0;
}

.common-table>thead>tr>th{
    font: 18px Segoe UI,Semilight;
    color: #333333;
    text-align: left;
    padding:12px 8px;
}

.common-table>tbody>tr>td {
    font: 13px Segoe UI,Regular;
    color:#000000;
    border-top: 1px solid rgb(175, 175, 175);
}

.dialog-delete{
    position: absolute;
    top:3px;
    right:3px;
    border: none;
    outline: none;
    background-color: transparent;
    height: 30px;
    width: 30px;
    background-image: url("../images/delete.png");
    background-repeat: no-repeat;
    background-size: 15px;
    background-position: center;
    vertical-align: middle;
    cursor: pointer;
}

.dialog-confirm {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}
.dialog-confirm>button{
    height: 40px;
    width: 80px;
    border: none;
    cursor: pointer;
    padding:0;
}